# Dependencies
node_modules/
.pnp
.pnp.js

# Production build output
dist/
build/

# Environment files & secrets
.env
.env.local
.env.*.local
harness/.env
ui/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# System & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
